body{
   
    background-size: cover;
}
.height{
    line-height: 80%;
}
.first{
    font-family: 'Satisfy', cursive;
    font-style: initial;
    text-align: center;
}
.second{
    font-family: 'Allison', cursive;
    font-style: italic;
    line-height: 80%;
    text-align: center;
    position: relative;
    margin-top: 0%;
    left: 50px;
}

.img
{
    height: 250px;
    width: 300px;
    display: block;
    margin-left: 300px;
    border-radius: 100%;
    
}

.img1
{
    margin-left: 600px;
    width: 150px;
    height: 150px;
    
}
.span{
    
    font-family: 'Permanent Marker', cursive;
}
.exp
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: large;
    text-align: center;
    align-items: center;
}

.div1{
    border-radius: 75%;
  
    
}
.btn {
    background: #050505;
    background-image: -webkit-linear-gradient(top, #050505, #9793ad);
    background-image: -moz-linear-gradient(top, #050505, #9793ad);
    background-image: -ms-linear-gradient(top, #050505, #9793ad);
    background-image: -o-linear-gradient(top, #050505, #9793ad);
    background-image: linear-gradient(to bottom, #050505, #9793ad);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #fcf7fc;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #918a90 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #61509c;
    background-image: -webkit-linear-gradient(top, #61509c, #7be8d9);
    background-image: -moz-linear-gradient(top, #61509c, #7be8d9);
    background-image: -ms-linear-gradient(top, #61509c, #7be8d9);
    background-image: -o-linear-gradient(top, #61509c, #7be8d9);
    background-image: linear-gradient(to bottom, #61509c, #7be8d9);
    text-decoration: none;
  }
  .btn1 {
    background: #7010de;
    background-image: -webkit-linear-gradient(top, #7010de, #230bd9);
    background-image: -moz-linear-gradient(top, #7010de, #230bd9);
    background-image: -ms-linear-gradient(top, #7010de, #230bd9);
    background-image: -o-linear-gradient(top, #7010de, #230bd9);
    background-image: linear-gradient(to bottom, #7010de, #230bd9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .btn2 {
    background: #118cde;
    background-image: -webkit-linear-gradient(top, #118cde, #0baee0);
    background-image: -moz-linear-gradient(top, #118cde, #0baee0);
    background-image: -ms-linear-gradient(top, #118cde, #0baee0);
    background-image: -o-linear-gradient(top, #118cde, #0baee0);
    background-image: linear-gradient(to bottom, #118cde, #0baee0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .bottom{
      background-color: rgb(196, 245, 230);
      padding: 50px 0 20px;
      text-align: center;
      color:black;
      font-size: small;
      margin: 10px 20px 10px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

     
  }

  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

  .btn3 {
    background: #de354c;
    background-image: -webkit-linear-gradient(top, #de354c, #de0b2e);
    background-image: -moz-linear-gradient(top, #de354c, #de0b2e);
    background-image: -ms-linear-gradient(top, #de354c, #de0b2e);
    background-image: -o-linear-gradient(top, #de354c, #de0b2e);
    background-image: linear-gradient(to bottom, #de354c, #de0b2e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn3:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
